[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
flask = "*"
apscheduler = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
pytelegrambotapi = "*"
black = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
